@model SchoolIdentityDemo.Models.HomeworkSubmission
@{
    ViewData["Title"] = "Оценяване";
}

<h1>@ViewData["Title"]</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<div class="card p-3 mb-3">
    <p><strong>Решение:</strong></p>
    <pre style="white-space: pre-wrap;">@Model.Content</pre>
</div>

<form method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Оценка (2..6)</label>
        <input class="form-control" asp-for="Grade" type="number" min="2" max="6"/>
        <span class="text-danger" asp-validation-for="Grade"/>
    </div>

    <div class="mb-3">
        <label class="form-label">Коментар</label>
        <textarea class="form-control" asp-for="Feedback" rows="4"></textarea>
    </div>

    <button class="btn btn-success" type="submit">Save</button>
    <a class="btn btn-secondary"
       asp-action="ForHomework"
       asp-route-homeworkId="@Model.HomeworkId">
        Back
    </a>
</form>

